# Enter your tab titles here
#
# Use the format:
#
# tabName.dir = (fully qualified folder)
# tabName.title = (title name you want)
#
# Repeat for as many tabs as you have
#
# For regular expressions, set tabName.regexp to 1 or Yes
# Then wrap the tabName.dir in "", and maybe use # for the regexp delineation
#
# e.g. home.dir = "#^/home#" means "starts with this path"


home.dir = /home/bob
home.title = Home

